.financial-dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  gap: 20px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.header {
  flex-shrink: 0;
}

.sidebar {
  position: absolute;
  right: 0;
  top: 0;
  width: 350px;
  height: 100vh;
  padding: 20px;
  background-color: var(--text-color-light);
  border-left: 1px solid var(--primary-color);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  overflow-y: auto;
}

.dashboard {
  flex: 1;
  margin-right: 370px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}